@charset "UTF-8";
* {
  font-family: "Roboto", sans-serif !important;
}

body {
  background-color: #f2f2f2;
}

.header .header-container {
  max-width: 1200px;
  margin: auto;
  position: relative;
}
.header .header-container .header-container__block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 97px;
  /**местоположение burger меню вместе с иконкой  **/
}
.header .header-container .header-container__block .header-burger {
  display: none;
  /**иконка свернутого burger меню **/
  /** скрытый квадратик checkbox **/
  /**развернутое burger меню и его местоположение**/
  /**условие когда checkbox:checked то само burger-menu должно измениться(opacity:1 стать видимым) **/
}
.header .header-container .header-container__block .header-burger .burger-trigger {
  width: 56px;
  height: 35px;
  background: url("/imges/burger.svg");
  display: block;
  cursor: pointer;
}
.header .header-container .header-container__block .header-burger #burger-checkbox-trigger {
  display: none;
}
.header .header-container .header-container__block .header-burger .burger-menu {
  background: #ffffff;
  border: 3px solid #ccc;
  border-radius: 4px;
  overflow: hidden;
  position: absolute;
  box-shadow: 3px 0 5px #000000;
  opacity: 0;
  top: 50px;
  left: 100px;
  transition: opacity 200ms linear;
}
.header .header-container .header-container__block .header-burger .burger-menu:hover {
  box-shadow: 10px 0 20px #000000;
}
.header .header-container .header-container__block .header-burger .burger-menu .burger-menu-item {
  width: 150px;
}
.header .header-container .header-container__block .header-burger .burger-menu .burger-menu-item a {
  color: #000000;
  line-height: 40px;
  padding: 20px 20px;
}
.header .header-container .header-container__block .header-burger .burger-menu .burger-menu-item a:hover {
  color: #EF7F04;
  text-decoration: underline;
}
.header .header-container .header-container__block .header-burger #burger-checkbox-trigger:checked ~ .burger-menu {
  opacity: 1;
}
@media screen and (max-width: 992px) {
  .header .header-container .header-container__block .header-burger {
    display: contents;
  }
}
.header .header-container .header-container__block .nav {
  display: flex;
  position: relative;
}
.header .header-container .header-container__block .nav__item {
  display: block;
  margin: 0 15px;
  font-weight: 400;
}
.header .header-container .header-container__block .nav__item a {
  color: #000000;
}
.header .header-container .header-container__block .nav__item a:hover {
  color: #EF7F04;
  border-top: 4px solid #EF7F04;
  padding-top: 34px;
}
@media screen and (max-width: 992px) {
  .header .header-container .header-container__block .nav {
    display: none;
  }
}
.header .header-container .header-container__block .header-container__buttons {
  display: flex;
}
.header .header-container .header-container__block .header-container__buttons .buttons-01 {
  background: #EF7F04;
  border-radius: 3px;
  color: #FFFFFF;
  font-size: 13px;
  font-weight: 700;
  padding: 10px 22px;
  margin-right: 14px;
  transition: 200ms;
}
.header .header-container .header-container__block .header-container__buttons .buttons-01:hover {
  cursor: pointer;
  background-color: #dd9c57;
}
.header .header-container .header-container__block .header-container__buttons .buttons-02 {
  cursor: pointer;
  background-color: #3B3A63;
  border-radius: 3px;
  color: #FFFFFF;
  font-size: 13px;
  font-weight: 700;
  padding: 10px 22px;
  transition: 200ms;
}
.header .header-container .header-container__block .header-container__buttons .buttons-02:hover {
  cursor: pointer;
  background-color: #8b8ab9;
}
@media screen and (max-width: 992px) {
  .header .header-container .header-container__block {
    justify-content: space-around;
  }
}

.login {
  max-height: 562px;
  max-width: 1920px;
  background-image: url(/imges/login1.jpg), url(/imges/login2.jpg);
  background-repeat: no-repeat;
  background-position: 0 0, 1219px 0;
  margin: auto;
}
.login-container {
  background: radial-gradient(rgba(9, 5, 47, 0.8) 0%, rgba(3, 2, 18, 0.8) 100%);
  display: flex;
  justify-content: center;
  align-items: center;
}
.login-container .advantages-header {
  font-size: 36px;
  color: #FFFFFF;
  max-width: 470px;
  font-weight: 100;
  line-height: 42px;
  padding: 80px 20px 50px 25px;
}
.login-container .advantages-header span {
  color: #EF7F04;
  font-size: 24px;
  font-weight: 700;
}
.login-container .advantages-block {
  max-width: 800px;
  color: #FFFFFF;
  display: flex;
  justify-content: space-around;
  padding: 20px 30px 70px 0;
}
.login-container .advantages-block__info {
  width: 170px;
  margin: 20px;
}
.login-container .advantages-block__info .premium_img {
  height: 79px;
}
.login-container .advantages-block__info p {
  font-size: 14px;
  padding: 30px 0 0 0;
  line-height: 21px;
}
@media screen and (max-width: 992px) {
  .login-container .advantages {
    padding: 0 0 0 55px;
  }
}
.login-container__form {
  background-color: #FFFFFF;
  max-width: 406px;
  height: 400px;
  border-radius: 10px;
  display: flex;
  align-items: stretch;
  padding: 0 0 30px;
  text-align: center;
  position: relative;
}
.login-container__form .form-block__info {
  width: 406px;
}
.login-container__form .form-block__info .info-title {
  font-size: 18px;
  font-weight: 700;
  margin: 40px;
}
.login-container__form .form-block__info .info-input {
  display: block;
  margin: 15px auto;
  width: 320px;
  height: 40px;
  background-color: #E2E2E2;
  border-radius: 3px;
  padding: 0 0 0 10px;
  transition: 1s;
}
.login-container__form .form-block__info .info-input:hover {
  box-shadow: 10px 0 20px #000000;
}
.login-container__form .form-block__info .check {
  padding: 0 1em 0 3em;
  /**сам текст label, text-indent: отступ первой строки **/
  /**скрываем сам "checkbox"**/
  /**создаем галочку при состоянии ":checked" условие: если  для label:checked ,то новый "checkbox" с :after должен стать **/
}
.login-container__form .form-block__info .check .check-label {
  display: inline-block;
  font-size: 12px;
  text-indent: -35px;
  cursor: pointer;
  position: relative;
  /**создаем новый уникальный "checkbox"**/
}
.login-container__form .form-block__info .check .check-label .check--elem {
  content: "";
  display: inline-block;
  width: 25px;
  height: 25px;
  background: #E2E2E2;
  border-radius: 3px;
  cursor: pointer;
  position: relative;
  left: -5px;
  top: 15px;
}
.login-container__form .form-block__info .check .check-label a {
  font-size: 12px;
}
.login-container__form .form-block__info .check .check-label a:hover {
  color: #EF7F04;
  text-decoration: underline;
}
.login-container__form .form-block__info .check .check-label input[type=checkbox] {
  position: absolute;
  display: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  -moz-user-select: none;
  -webkit-user-select: none;
      -ms-user-select: none;
          user-select: none;
  appearance: none;
}
.login-container__form .form-block__info .check .check-label input[type=checkbox]:checked + .check--elem:after {
  content: "";
  position: absolute;
  top: -5px;
  left: 5px;
  width: 25px;
  height: 25px;
  background: url(/imges/checkON.svg);
  background-repeat: no-repeat;
  cursor: pointer;
}
.login-container__form .button {
  background: #EF7F04;
  border-radius: 3px;
  color: #FFFFFF;
  font-size: 14px;
  font-weight: 700;
  padding: 15px 35px;
  margin: 20px 0 40px;
  transition: 200ms;
}
.login-container__form .button:hover {
  cursor: pointer;
  background-color: #dd9c57;
}
.login-container__form .info-img {
  position: absolute;
  left: -21%;
  bottom: -12%;
}
@media screen and (max-width: 992px) {
  .login-container__form {
    display: none;
  }
}
@media screen and (max-width: 992px) {
  .login-container {
    justify-content: flex-start;
  }
}
@media screen and (max-width: 992px) {
  .login-container {
    background: linear-gradient(to right, rgba(7, 6, 30, 0.8) 0%, rgba(7, 6, 32, 0.8) 50%, rgb(50, 50, 72) 65%, rgba(7, 6, 30, 0.8) 70%);
  }
}
@media screen and (max-width: 992px) {
  .login {
    max-height: 562px;
    width: 992px;
    background-image: url(/imges/login3.png), url(/imges/login4.png);
    background-position: 0 0, 630px 0;
  }
}

.services {
  background: #f2f2f2;
}
.services-container {
  max-width: 1200px;
  margin: 0 auto;
}
.services-container__title {
  display: block;
  text-align: center;
  font-size: 24px;
  font-weight: 700;
  padding: 50px 0;
}
.services-container .windows {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.services-container .windows-card {
  width: 49%;
  height: 268px;
  border-radius: 3px;
  margin: 20px 3px;
  transition: 1s;
}
.services-container .windows-card:hover {
  box-shadow: 10px 0 20px #000000;
}
.services-container .windows-card__name {
  display: flex;
  align-items: center;
  padding: 55px 0 38px 50px;
}
.services-container .windows-card__name .windows-card__title {
  width: 300px;
  font-size: 24px;
  font-weight: 700;
  margin-left: 20px;
}
.services-container .windows-card__content {
  width: 300px;
  padding: 0 0 38px 50px;
  font-weight: 21px;
}
@media screen and (max-width: 992px) {
  .services-container .windows-card {
    width: 592px;
    height: 268px;
    border-radius: 3px;
    margin: 20px 3px;
    transition: 1s;
  }
  .services-container .windows-card:hover {
    box-shadow: 10px 0 20px #000000;
  }
}
.services-container .windows .windows-01 {
  background-image: linear-gradient(90.45deg, #FFFFFF 47.56%, rgba(255, 255, 255, 0) 98.81%), url(/imges/services01.png);
  border-radius: 3px;
}
.services-container .windows .windows-02 {
  background-image: linear-gradient(90.45deg, #FFFFFF 47.56%, rgba(255, 255, 255, 0) 98.81%), url(/imges/services02.png);
  border-radius: 3px;
}
.services-container .windows .windows-03 {
  background-image: linear-gradient(90.45deg, #FFFFFF 47.56%, rgba(255, 255, 255, 0) 98.81%), url(/imges/services03.png);
  border-radius: 3px;
}
.services-container .windows .windows-04 {
  background-image: linear-gradient(90.45deg, #FFFFFF 47.56%, rgba(255, 255, 255, 0) 98.81%), url(/imges/services04.png);
  border-radius: 3px;
}
@media screen and (max-width: 992px) {
  .services-container .windows {
    justify-content: center;
  }
}

.products-container {
  max-width: 1200px;
  margin: 0 auto;
}
.products-container__title {
  text-align: center;
  font-size: 24px;
  font-weight: 700;
  margin: 48px 0;
}
.products-container__menu {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 48px;
}
.products-container__menu .button {
  cursor: pointer;
  border-radius: 3px;
  font-size: 18px;
  padding: 10px 22px;
  margin: 15px;
  transition: 200ms;
}
.products-container__menu .button:focus {
  background-color: #EF7F04;
  color: white;
}
.products-container .specification {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  margin-bottom: 48px;
  border-radius: 3px;
  height: 461px;
  transition: 1s;
}
.products-container .specification:hover {
  box-shadow: 10px 0 20px #000000;
}
.products-container .specification__image {
  background-image: url(/imges/glass.jpg);
  background-position: 50%;
  background-size: cover;
  border-radius: 3px;
  width: 567px;
  height: 461px;
}
@media screen and (max-width: 992px) {
  .products-container .specification__image {
    width: 404px;
    height: 461px;
  }
}
.products-container .specification-card {
  margin: 85px 32px 52px 30px;
  width: 511px;
}
.products-container .specification-card__title {
  font-size: 36px;
  font-weight: 700;
  color: #EF7F04;
}
.products-container .specification-card__info {
  padding: 40px 70px 50px 0;
  font-size: 21px;
  font-weight: 300;
  line-height: 21px;
}
@media screen and (max-width: 992px) {
  .products-container .specification-card__info {
    padding: 40px 0 50px 0px;
  }
}
.products-container .specification-card .parameters-info {
  display: flex;
  justify-content: space-between;
}
.products-container .specification-card .parameters-info .parameters-info-name {
  font-size: 18px;
  font-weight: 400;
  margin: 10px 0;
}
.products-container .specification-card .parameters-info .parameters-info-solid {
  flex: 1;
  border-bottom: 1px dotted #BABABA;
  border-width: 2px;
  margin: 13px 0.4em;
}
.products-container .specification-card .parameters-info .parameters-info-info {
  text-align: left;
  width: 27%;
  font-size: 18px;
  font-weight: 700;
  margin: 10px 0;
}
@media screen and (max-width: 992px) {
  .products-container .specification-card {
    padding: 0 0 0 20px;
  }
}
@media screen and (max-width: 992px) {
  .products-container .specification {
    margin: 0 40px;
  }
}

.guarantee {
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
}
.guarantee-container {
  background-image: url(/imges/guarantee_backgraund.jpg);
  background-repeat: no-repeat;
  border-radius: 3px;
}
.guarantee-container__list {
  background: rgba(2, 2, 35, 0.8);
  border-radius: 3px;
  text-align: center;
  height: 436px;
  margin: 40px 0;
}
.guarantee-container__list .catalog__title {
  margin: 50px auto;
}
.guarantee-container__list .catalog-block {
  color: #FFFFFF;
  display: flex;
  justify-content: space-around;
}
.guarantee-container__list .catalog-block__info .medal__image {
  height: 90px;
}
.guarantee-container__list .catalog-block__info .medal__info {
  text-align: center;
  width: 195px;
  height: 40px;
  margin-top: 35px;
  line-height: 19px;
}
@media screen and (max-width: 992px) {
  .guarantee-container__list .catalog-block__info {
    padding: 30px 40px;
  }
}
@media screen and (max-width: 992px) {
  .guarantee-container__list .catalog-block {
    justify-content: center;
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 992px) {
  .guarantee-container__list {
    height: 679px;
    width: 880px;
  }
}
@media screen and (max-width: 992px) {
  .guarantee-container {
    background-image: url(/imges/guarantee_backgraund2.jpg);
    margin: 0 30px;
  }
}
.guarantee-button {
  background-color: #3B3A63;
  border-radius: 3px;
  color: #FFFFFF;
  padding: 10px 30px;
  margin-bottom: 40px;
  transition: 200ms;
}
.guarantee-button:hover {
  cursor: pointer;
  background-color: #8b8ab9;
}
.guarantee-button__img {
  margin: 5px 15px 5px 0;
}

.about-company {
  max-width: 1200px;
  margin: 0 auto;
}
.about-company__title {
  text-align: center;
  font-size: 24px;
  font-weight: 700;
  margin: 48px 0;
}
.about-company__menu {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 48px;
}
.about-company__menu .button {
  border-radius: 3px;
  font-size: 18px;
  padding: 10px 22px;
  margin: 15px;
  transition: 200ms;
}
.about-company__menu .button:focus {
  background-color: #EF7F04;
  color: white;
}
.about-company .preview {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  margin-bottom: 48px;
  border-radius: 3px;
  height: 461px;
  transition: 1s;
}
.about-company .preview:hover {
  box-shadow: 10px 0 20px #000000;
}
.about-company .preview-block {
  width: 50%;
}
.about-company .preview-block__image {
  display: block;
  margin: 45px 0 0 50px;
}
@media screen and (max-width: 992px) {
  .about-company .preview-block__image {
    margin: 45px 0 0 25px;
  }
}
.about-company .preview-block__text {
  max-width: 55%;
  line-height: 22px;
  margin: 50px 30px 50px 235px;
}
@media screen and (max-width: 992px) {
  .about-company .preview-block__text {
    margin: 50px 30px 50px 135px;
  }
}
.about-company .preview__image {
  background-image: url(/imges/preview.jpg);
  background-position: 50%;
  background-size: cover;
  border-radius: 3px;
  width: 50%;
  height: 461px;
}
@media screen and (max-width: 992px) {
  .about-company .preview__image {
    width: 447px;
    height: 461px;
  }
}
.about-company .benefits {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 48px;
}
.about-company .benefits-block {
  display: flex;
  align-content: flex-start;
  width: 370px;
  height: 100px;
  padding: 50px 15px;
}
.about-company .benefits-block__icon {
  margin: 0 25px;
  width: 115px;
  height: 100px;
}
@media screen and (max-width: 992px) {
  .about-company .benefits-block__icon {
    margin: 0 40px 0 0;
  }
}
.about-company .benefits-block-info {
  width: 260px;
}
.about-company .benefits-block-info__title {
  font-weight: 700;
  margin-bottom: 20px;
}
.about-company .benefits-block-info__text {
  line-height: 26px;
}
.about-company__button {
  text-align: center;
}
.about-company__button .button {
  background: #EF7F04;
  border-radius: 3px;
  color: #FFFFFF;
  font-size: 16px;
  font-weight: 700;
  padding: 20px 40px;
  margin-bottom: 48px;
  transition: 200ms;
}
.about-company__button .button:hover {
  cursor: pointer;
  background-color: #dd9c57;
}

.portfolio {
  max-width: 1200px;
  margin: 0 auto;
  background-color: #FFFFFF;
  text-align: center;
  padding: 48px 100px 75px 100px;
}
.portfolio__title {
  font-size: 24px;
  font-weight: 700;
}
.portfolio-container {
  display: flex;
  justify-content: space-around;
  text-align: center;
  margin-top: 47px;
}
.portfolio-container__img {
  width: 215px;
  height: 216px;
  border-radius: 3px;
  transition: 1s;
}
.portfolio-container__img:hover {
  box-shadow: 10px 0 20px #000000;
}
@media screen and (max-width: 992px) {
  .portfolio-container__img:last-child {
    display: none;
  }
}

.questions {
  max-width: 1200px;
  margin: 0 auto;
  margin-bottom: 86px;
}
.questions-container {
  background-color: #EF7F1A;
  border-radius: 7px;
  padding: 40px 100px 65px 100px;
}
.questions-container__title {
  font-size: 24px;
  font-weight: 700;
  color: #FFFFFF;
  text-align: center;
}
.questions-container .response {
  margin-top: 40px;
  /**отключаем стандартный значок "details" **/
  /**Создаем условия ,если "details[open]" то "summary:after" изменяется **/
}
.questions-container .response .response-details {
  color: #2F2F51;
  background-color: #FFFFFF;
  margin: 15px 0;
  border-radius: 3px;
  text-indent: 2%;
  font-size: 16px;
  line-height: 19px;
  font-weight: 400;
  transition: 1s;
}
.questions-container .response .response-details:hover {
  box-shadow: 10px 0 20px #000000;
}
.questions-container .response .response-details__summary {
  position: relative;
  /**Свойство text-indent указывает размер отступа первой строки внутри текстового блока.**/
  text-indent: 0;
  background-color: #EEEEF3;
  cursor: pointer;
  padding: 31px 20px;
  font-size: 18px;
  font-weight: 700;
}
.questions-container .response .response-details__summary::after {
  content: url(/imges/check_questionsOFF.jpg);
  position: absolute;
  right: 40px;
  /**Свойство transition: transform плавно создает изменение**/
  transition: transform 200ms linear;
}
.questions-container .response .response-details__summary:hover::after {
  content: url(/imges/check_questionsHOVER.jpg);
}
.questions-container .response .response-details__summary:hover {
  content: "";
  color: #EF7F04;
  background-color: #FFFFFF;
}
.questions-container .response .response-details .menu .menu-list {
  font-size: 16px;
  line-height: 19px;
}
.questions-container .response .response-details .menu .menu-list__li:before {
  content: "";
  height: 50px;
  width: 50px;
  border-radius: 50%;
  margin: 0 10px 0 0;
  background-color: #000000;
}
.questions-container .response .response-details summary::marker {
  content: "";
  display: none;
}
.questions-container .response .response-details[open] .response-details__summary:after {
  transform: rotate(180deg);
}
@media screen and (max-width: 992px) {
  .questions-container {
    padding: 40px 40px 65px 40px;
  }
}

.contacts {
  max-width: 1200px;
  margin: 0 auto;
  margin-bottom: 51px;
  color: #2F2F51;
}
.contacts__title {
  font-size: 24px;
  font-weight: 700;
  text-align: center;
}
.contacts-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.contacts-container .content {
  max-width: 55%;
  padding: 60px 0 0 40px;
}
.contacts-container .content-desc {
  font-size: 18px;
  font-weight: 700;
}
.contacts-container .content-tel {
  display: flex;
  justify-content: space-between;
  padding: 40px 0 50px 0;
  font-size: 22px;
  font-weight: 700;
}
.contacts-container .content-tel__icon {
  margin-right: 30px;
}
.contacts-container .content-tel__text {
  margin-right: 30px;
}
.contacts-container .content-tel a {
  color: #000000;
}
.contacts-container .content-tel a:hover {
  text-decoration: underline;
}
.contacts-container .content-address {
  display: flex;
  color: #000000;
  font-size: 18px;
}
.contacts-container .content-address__icon {
  margin-right: 30px;
}
.contacts-container .content-mail {
  display: flex;
  margin: 18px 0 50px 0;
  font-size: 18px;
}
.contacts-container .content-mail__icon {
  margin-right: 30px;
}
.contacts-container .content-mail a {
  color: #000000;
}
.contacts-container .content-mail a:hover {
  text-decoration: underline;
}
.contacts-container .content-workers {
  display: flex;
  flex-wrap: wrap;
}
.contacts-container .content-workers .aside {
  max-width: 220px;
  line-height: 22px;
}
.contacts-container .content-workers .aside__text {
  margin: 0 0 40px 0;
}
.contacts-container .content-workers .aside__icon {
  max-width: 220px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.contacts-container .content-workers .aside__icon .icon__img:nth-child(2) {
  padding: 4px 0 0 0;
}
.contacts-container .content-workers .picture {
  position: relative;
}
.contacts-container .content-workers .picture-ground {
  position: absolute;
  width: 327px;
  height: 365px;
  left: 10px;
}
.contacts-container .content-workers .picture-hard {
  position: absolute;
  opacity: 0.6;
  top: 75px;
  left: 7px;
}
.contacts-container__form {
  background-color: #FFFFFF;
  margin-top: 60px;
  width: 515px;
  height: 565px;
  border-radius: 10px;
  text-align: center;
}
.contacts-container__form .form-block__info {
  width: 515px;
}
.contacts-container__form .form-block__info .info-title {
  font-size: 24px;
  font-weight: 700;
  margin: 55px 0 30px 0;
}
.contacts-container__form .form-block__info .info-input {
  display: block;
  margin: 27px auto;
  color: #424268;
  width: 400px;
  height: 55px;
  background-color: #E2E2E2;
  border-radius: 3px;
  padding: 0 0 0 20px;
  transition: 1s;
}
.contacts-container__form .form-block__info .info-input:hover {
  box-shadow: 10px 0 20px #000000;
}
.contacts-container__form .form-block__info .info-textarea {
  resize: none;
  display: block;
  margin: 27px auto;
  line-height: 19px;
  color: #424268;
  width: 380px;
  height: 110px;
  background-color: #E2E2E2;
  border-radius: 3px;
  padding: 20px 20px;
  transition: 1s;
}
.contacts-container__form .form-block__info .info-textarea:hover {
  box-shadow: 10px 0 20px #000000;
}
.contacts-container__form .form-block__info .check {
  padding: 0 1em 0 3em;
  /**сам текст label **/
  /**скрываем сам "checkbox"**/
  /**создаем галочку при состоянии ":checked" условие: если  для label:checked ,то новый "checkbox" с :after должен стать **/
}
.contacts-container__form .form-block__info .check .check-label {
  display: inline-block;
  font-size: 14px;
  cursor: pointer;
  position: relative;
  /**создаем новый уникальный "checkbox"**/
}
.contacts-container__form .form-block__info .check .check-label .check--elem {
  content: "";
  display: inline-block;
  width: 25px;
  height: 25px;
  background: #E2E2E2;
  border-radius: 3px;
  cursor: pointer;
  position: relative;
  left: -20px;
  top: 10px;
}
.contacts-container__form .form-block__info .check .check-label a {
  font-size: 14px;
  color: #EF7F1A;
}
.contacts-container__form .form-block__info .check .check-label a:hover {
  text-decoration: underline;
}
.contacts-container__form .form-block__info .check .check__input input[type=checkbox] {
  position: absolute;
  display: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  -moz-user-select: none;
  -webkit-user-select: none;
      -ms-user-select: none;
          user-select: none;
  appearance: none;
}
.contacts-container__form .form-block__info .check .check-label input[type=checkbox]:checked + .check--elem:after {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  background: url(/imges/contactsON.svg);
  background-repeat: no-repeat;
  cursor: pointer;
  left: 5px;
  top: 3px;
}
.contacts-container__form .button {
  background: #2F2F51;
  border-radius: 3px;
  color: #FFFFFF;
  font-weight: 700;
  padding: 15px 35px;
  margin: 20px 45px;
  transition: 200ms;
}
.contacts-container__form .button:hover {
  cursor: pointer;
  background-color: #8b8ab9;
}
@media screen and (max-width: 992px) {
  .contacts-container__form {
    margin-top: 140px;
  }
}

.footer {
  background-color: #2F2F51;
  height: 146px;
}
.footer-container {
  padding: 53px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #FFFFFF;
  max-width: 1200px;
  margin: 0 auto;
}
.footer-container__block {
  display: flex;
  align-items: center;
}
.footer-container__block .block__description {
  margin-left: 20px;
}
.footer-container__block .block__description:first-child {
  font-size: 14px;
}/*# sourceMappingURL=style.css.map */