@mixin windows {
    width: 49%;
    height: 268px;
    border-radius: 3px;
    margin: 20px 3px;
    transition: 1s;

    &:hover {
        box-shadow: 10px 0 20px #000000;
    }
}

@mixin windows1 {
    width: 592px;
    height: 268px;
    border-radius: 3px;
    margin: 20px 3px;
    transition: 1s;

    &:hover {
        box-shadow: 10px 0 20px #000000;
    }
}

* {
    font-family: "Roboto", sans-serif !important;
}

body { 
    background-color: #f2f2f2;
}

@import "./blocks/header";
@import "./blocks/login";
@import "./blocks/services";
@import "./blocks/products";
@import "./blocks/guarantee";
@import "./blocks/about-company";
@import "./blocks/portfolio.scss";
@import "./blocks/questions";
@import "./blocks/contacts";
@import "./blocks/footer";