@mixin windows {
    width: 49%;
    height: 268px;
    border-radius: 3px;
    margin: 20px 3px;
}

@mixin windows1 {
    width: 592px;
    height: 268px;
    border-radius: 3px;
    margin: 20px 3px;
}

* {
    font-family: "Roboto", sans-serif !important;
}

body { 
    background-color: #f2f2f2;
}


@import "./blocks/header";
@import "./blocks/login";
@import "./blocks/services";
@import "./blocks/products";
@import "./blocks/guarantee";
@import "./blocks/about-company";


