.header {

    .header-container {
        max-width: 1200px;
        margin: auto;

        .header-container__block {
            display: flex;
            justify-content: space-between;
            align-items: center;
            height: 97px;
    
            .nav {
                display: flex;
    
                &__item {
                    margin: 0 15px;
                    font-weight: 400;
                }

                @media screen and (max-width: 992px) {
                    display: none;
                }
            }
    
            .header-container__buttons {
                display: flex;
    
                .buttons-01 {
                    background: #EF7F04;
                    border-radius: 3px;
                    color:  #FFFFFF;
                    font-size: 13px;
                    font-weight: 700;
                    padding: 10px 22px;
                    margin-right: 14px;
                }
    
                .buttons-02 {
                    background-color: #3B3A63;
                    border-radius: 3px;
                    color:  #FFFFFF;
                    font-size: 13px;
                    font-weight: 700;
                    padding: 10px 22px;
                }
            }

            @media screen and (max-width: 992px) {
                justify-content: space-around;
            }
        }
    }
}