.login {
    max-height: 562px;
    max-width: 1920px;
    background-image: url(/imges/login1.jpg), url(/imges/login2.jpg);
    background-repeat: no-repeat;
    background-position: 0 0, 1219px 0;
    margin: auto;

    &-container {
        background: radial-gradient(rgba(9, 5, 47, 0.8) 0%, rgba(3, 2, 18, 0.8) 100%); 
        display: flex;
        justify-content:center;
        align-items: center;

        .advantages {

            &-header {
                font-size: 36px;
                color: #FFFFFF;
                max-width: 470px;
                font-weight: 100;
                line-height: 42px;
                padding: 80px 20px 50px 25px;

                span {
                    color: #EF7F04;
                    font-size: 24px;
                    font-weight: 700;
                }
            }

            &-block {
                max-width: 800px;
                color: #FFFFFF;
                display: flex;
                justify-content: space-around;
                padding: 20px 30px 70px 0;

                &__info {
                    width: 170px;
                    margin: 20px;

                    .premium_img {
                        height: 79px;
                    }

                    p {
                        font-size: 14px;
                        padding: 30px 0 0 0;
                        line-height: 21px;
                    }
                }
            }

            @media screen and (max-width: 992px) {
                padding: 0 0 0 55px;
            }
        }

        &__form {
            background-color: #FFFFFF;
            max-width: 406px;
            height:  400px;
            border-radius: 10px;
            display: flex;
            align-items:stretch;
            padding: 0 0 30px;
            text-align: center;
            position: relative;

            .form-block__info {
                width: 406px;

                .info-title {
                    font-size: 18px;
                    font-weight: 700;
                    margin: 40px;
                }
    
                .info-input {
                    display: block;
                    margin: 15px auto;
                    width: 320px;
                    height: 40px;
                    background-color: #E2E2E2;
                    border-radius: 3px;
                    padding: 0 0 0 10px;
                } 
                
                .check {
                    padding: 0 1em 0 3em;
                    

                    .check-label {
                        position: relative;
                        font-size: 12px;

                        .check-label__input {
                            position: absolute;
                            -webkit-appearance: none;
                            -moz-appearance: none;
                            appearance: none;
                        }
    
                        .check-label__box {
                            position: absolute;
                            margin-left: -25.5em;
                            margin-top: -1em;
                            height: 2em;
                            width: 2em;
                            background-image: url(/imges/checkOFF.svg);
                        }

                        .check-label__input:focus + .check-label__box {
                            background-image: url(/imges/checkON.svg), url(/imges/checkOFF.svg);
                            background-repeat: no-repeat;
                        }

                        .check-label__input:checked:focus + .check-label__box {
                            background-image: url(/imges/checkOFF.svg);
                            background-repeat: no-repeat;
                        }
                    }
                }
            }

            .button {
                background: #EF7F04;
                border-radius: 3px;
                color:  #FFFFFF;
                font-size: 14px;
                font-weight: 700;
                padding: 15px 35px;
                margin: 20px 0 40px;
            }

            .info-img {
                position: absolute;
                left: -21%;
                bottom: -12%;
            }

            @media screen and (max-width: 992px) {
                display: none;
            }
        }

        @media screen and (max-width: 992px) {
            justify-content: flex-start;
        }

        @media screen and (max-width: 992px) {
            background: linear-gradient(to right, rgba(7, 6, 30, 0.8) 0%, rgba(7, 6, 32, 0.8) 50%, rgb(50, 50, 72) 65%, rgb(7, 6, 30, 0.8) 70%)
        }
    }

    @media screen and (max-width: 992px) {
        max-height: 562px;
        width: 992px;
        background-image: url(/imges/login3.png), url(/imges/login4.png);
        background-position: 0 0, 630px 0;              
    }
}