.products {
    
    &-container {
        max-width: 1200px;
        margin: 0 auto;
    
        &__title {
            text-align: center;
            font-size: 24px;
            font-weight: 900;
            margin: 48px 0;
        }

        &__menu {
            display: flex;
            justify-content:center;
            align-items: center;
            margin-bottom: 48px;

            .button {
                border-radius: 3px;
                font-size: 21px;
                padding: 10px 22px;
                margin: 15px;
            }
            .button:focus {
                background-color: #EF7F04;
                color: white;
            }
        }

        .specification {
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: white;
            margin-bottom: 48px;
            border-radius: 3px;
            height: 461px;

            &__image {
                background-image: url(/imges/glass.jpg);
                background-position: 50%;
                background-size: cover;
                border-radius: 3px;
                width: 567px;
                height: 461px;

                @media screen and (max-width: 992px) {
                    width: 404px;
                    height: 461px;
                }
            }

            &-card {
                margin: 85px 32px 52px 30px;
                width: 511px;                

                &__title {
                    font-size: 36px;
                    font-weight: 700;
                    color: #EF7F04;                
                }

                &__info {
                    padding: 40px 160px 50px 0;
                    font-size: 21px;
                    
                    @media screen and (max-width: 992px) {
                        padding: 40px 90px 50px 0px;
                    }
                }

                .parameters-info {
                    display: flex;
                    justify-content: space-between;                                      

                    .parameters-info-name {                           
                        font-size: 21px;
                        font-weight: 700;
                        margin: 10px 0;

                        @media screen and (max-width: 992px) {
                            font-size: 18px;
                        }
                    }

                    .parameters-info-solid {
                        flex: 1;
                        border-bottom: 1px dotted #BABABA;
                        border-width: 2px;
                        margin: 13px 0.4em;
                        
                        @media screen and (max-width: 992px) {
                            font-size: 18px;
                        }
                    }

                    .parameters-info-info {                            
                        text-align: left;
                        width: 25%;
                        font-size: 21px;
                        font-weight: 700;
                        margin: 10px 0;

                        @media screen and (max-width: 992px) {
                            font-size: 18px;
                        }
                    }

                }

                @media screen and (max-width: 992px) {
                    padding: 0 0 0 20px;
                }
            }
            @media screen and (max-width: 992px) {
                margin: 0 40px;
            }
        }
    }
}