.products {
    
    &-container {
        max-width: 1200px;
        margin: 0 auto;
    
        &__title {
            text-align: center;
            font-size: 24px;
            font-weight: 700;
            margin: 48px 0;
        }

        &__menu {
            display: flex;
            justify-content:center;
            align-items: center;
            margin-bottom: 48px;

            .button {
                cursor: pointer;
                border-radius: 3px;
                font-size: 18px;
                padding: 10px 22px;
                margin: 15px;
                transition: 200ms;

                &:focus {
                    background-color: #EF7F04;
                    color: white;
                }
            }
            
        }

        .specification {
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: white;
            margin-bottom: 48px;
            border-radius: 3px;
            height: 461px;
            transition: 1s;

            &:hover {
                box-shadow: 10px 0 20px #000000;
            }

            &__image {
                background-image: url(/imges/glass.jpg);
                background-position: 50%;
                background-size: cover;
                border-radius: 3px;
                width: 567px;
                height: 461px;

                @media screen and (max-width: 992px) {
                    width: 404px;
                    height: 461px;
                }
            }

            &-card {
                margin: 85px 32px 52px 30px;
                width: 511px;                

                &__title {
                    font-size: 36px;
                    font-weight: 700;
                    color: #EF7F04;                
                }

                &__info {
                    padding: 40px 70px 50px 0;
                    font-size: 21px;
                    font-weight: 300;
                    line-height: 21px;
                    
                    @media screen and (max-width: 992px) {
                        padding: 40px 0 50px 0px;
                    }
                }

                .parameters-info {
                    display: flex;
                    justify-content: space-between;                                      

                    .parameters-info-name {                           
                        font-size: 18px;
                        font-weight: 400;
                        margin: 10px 0;
                    }

                    .parameters-info-solid {
                        flex: 1;
                        border-bottom: 1px dotted #BABABA;
                        border-width: 2px;
                        margin: 13px 0.4em;
                    }

                    .parameters-info-info {                            
                        text-align: left;
                        width: 27%;
                        font-size: 18px;
                        font-weight: 700;
                        margin: 10px 0;
                    }

                }

                @media screen and (max-width: 992px) {
                    padding: 0 0 0 20px;
                }
            }
            @media screen and (max-width: 992px) {
                margin: 0 40px;
            }
        }
    }
}