.questions {
    max-width: 1200px;
    margin: 0 auto;
    margin-bottom: 86px;

    &-container {
        background-color: #EF7F1A;
        border-radius: 7px;
        padding: 40px 100px 65px 100px;

        &__title {
            font-size: 24px;
            font-weight: 700;
            color: #FFFFFF;
            text-align: center;
        }

        .response{
            margin-top: 40px;

            .response-details {
                color: #2F2F51;
                background-color: #FFFFFF;
                margin: 15px 0;
                border-radius: 3px;
                text-indent: 2%;
                font-size: 16px;
                line-height: 19px;
                font-weight: 400;
                transition: 1s;

                &:hover {
                    box-shadow: 10px 0 20px #000000;
                }

                &__summary {
                    position: relative;
                    /**Свойство text-indent указывает размер отступа первой строки внутри текстового блока.**/
                    text-indent: 0;
                    background-color: #EEEEF3;
                    cursor: pointer;
                    padding: 31px 20px;
                    font-size: 18px;
                    font-weight: 700;

                    
                    &::after {
                        content: url(imges/check_questionsOFF.jpg);
                        position: absolute;
                        right: 40px;
                        /**Свойство transition: transform плавно создает изменение**/
                        transition: transform 200ms linear;

                    } 

                    &:hover::after {
                        content: url(imges/check_questionsHOVER.jpg);
                    }

                    &:hover {
                        content: "";
                        color: #EF7F04;
                        background-color: #FFFFFF;
                    }
                }

                .menu {
                    .menu-list {
                        font-size: 16px;
                        line-height: 19px;
    
                        &__li:before {
                            content: '';
                            height: 50px;
                            width: 50px;
                            border-radius: 50%;
                            margin: 0 10px 0 0 ;
                            background-color: #000000;
                        }
                    }
                }
            }

            /**отключаем стандартный значок "details" **/
            .response-details summary::marker {
                content: '';
                display: none;
            }
            
            /**Создаем условия ,если "details[open]" то "summary:after" изменяется **/
            .response-details[open] .response-details__summary:after {
                transform: rotate(180deg);
            }
        }

        @media screen and (max-width: 992px) {
            padding: 40px 40px 65px 40px;
        }
    }
}